{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "tailwindFunctions": ["cn", "classname"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
