name: Pre Realese CI

on: [pull_request]

concurrency:
  group: ci-pre-release-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  backend-preview-release:
    uses: ./.github/workflows/1-1-backend-preview-publishing.yaml
    with:
      component: events-web
      supabase-working-directory: ./packages/infra-supabase/
      # TOOD add vercel and the following jobs
      # vercel-project-id-var: SELECTION_VERCEL_PROJECT_ID
      # subdomain: processos-seletivos
    secrets: inherit
  call-unit-tests:
    uses: ./.github/workflows/1-2-tests-and-code-analysis.yaml
    needs: backend-preview-release
    secrets: inherit
  events-preview-publishing:
    uses: ./.github/workflows/1-3-preview-publishing.yaml
    with:
      component: events-web
    needs: call-unit-tests
    secrets: inherit
